beautifulsoup4==4.6.0
certifi==2022.12.7
chardet==3.0.4
cryptography==2.1.4
enum34==1.1.6
futures==3.2.0
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
pycrypto==2.6.1
pyxdg==0.25
requests==2.18.4
SecretStorage==2.3.1
six==1.11.0
threaded==1.0.0
thready==0.1.5
typing==3.6.4
urllib3==1.22
XlsxWriter==1.0.2
